@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --primary-color: #13072e;
    --gradient: linear-gradient(135deg, #150d2b, #2a235a);
    --purple: #2a235a;
    --black: #150d2b;
    --font-size: 16px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.heroSection {
    /* Assuming the heroSection is your container */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(images/Home.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#signup-page {
    background-color: white;
    width: 400px;
    height: fit-content;
    padding: 10px 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Removed margin-right to center it */
    margin: 0; 
}
