:root {
    --primary-color: #13072e;
    --gradient: linear-gradient(135deg, #150d2b, #2a235a);
    --purple: #2a235a;
    --black: #150d2b;
    --font-size: 16px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#login-page{
    text-align: center;
    margin-bottom: 1rem;
    color: var(--purple);
    font-weight: 1000;
}

.microAcclog{
    text-align: center;
    margin-bottom: 1rem;
    color: var(--purple);
    font-weight: 1000;
}

.box{
    margin-bottom: 0.5rem;
}

.personalLabel{
    font-size: 0.8rem;
}

.personalInput{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
}

.submit_login{
    width: 100%;
    padding: 12px;
    background: var(--gradient);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition:  0.3s ease;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}